*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.hero-wrapper{
    background-image: url(../assets/images/girl.jpg);
    border:0.3rem solid pink;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    padding: 1rem;
}
.blur{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background: rgba(255, 192, 203,0.2);
    z-index: 1;
}
.hero-text{
    position: relative;
    z-index: 2;
    padding:rem;
    color: white;
    text-align: center;
}
.hero-text h1{
    font-family:fantasy;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    margin-bottom: 3rem;
    color: hotpink;
    transition: all 0.5s ease-in-out;
    border-left: 4px solid purple;
}
.hero-text h1:hover{
    color:purple;
    transform: scale(1.1);
    border-left: 4px solid pink;
}
.hero-text p{
    font-size: 1.3rem;
    font-weight: 600;
    font-family:cursive;
    line-height:2rem;
    overflow: hidden;
    border-right: 5px solid pink;
    white-space: nowrap;
    width:0;
    animation: typing 3s steps(20) 1s forwards;
    color:white;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width:100%;
    }
}
.otp{
    margin-top: 3rem;
    position: relative;
    font-size: 1.2rem;
    font-family:cursive;
    padding: 1rem 2rem;
    background-color: plum;
    border:none;
    border-radius:2rem;
    font-weight: 700;
    right:2.1rem;

}
.otp::after{
    content:"if e easy run am";
    position: absolute;
    bottom: -30px;
    left:0;
    right:0;
    background-color:peach;
    color:white;
    opacity: 0;
    transition: opacity 0.3s;
}
.otp:hover::after{
    opacity: 1;

}
.chat{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-family:cursive;
    padding: 1rem 2rem;
    background-color: plum;
    border:none;
    border-radius:2rem;
    font-weight: 700; 
}
.chat:hover{
    background-color: green;
}
.chatme{
    margin-top: 3rem;
}
a{
    text-decoration: none;
    color:white;
}